# Assumes that the weather-now folder is a subfolder of a $PATH location

# freedesktop.org - Desktop Entry Specification

# The Exec key must contain a command line.
# A command line consists of an executable program
# optionally followed by one or more arguments.
# The executable program can either be specified
# with its full path or with the name of the executable only.
# If no full path is provided the executable is looked up
# in the $PATH environment variable used by the desktop environment.
# The name or path of the executable program may not contain
# equal sign ("="). Arguments are separated by a space.

[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=weather-now/weather-now-menu
GenericName[en_GB]=Display current weather
GenericName=Display current weather
Icon=weather-clouds
MimeType=
Name[en_GB]=Weather Now
Name=Weather Now
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
